body{
font-family: Arial;
background:#f4f6f8;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:450px;
text-align:center;
}

button{
padding:10px 20px;
margin-top:10px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

input, textarea{
width:90%;
padding:10px;
margin-top:10px;
}

body.dark{
background:#121212;
color:white;
}

body.dark .container{
background:#1e1e1e;
}
